<footer>
  <span>
    <span>
      &copy; Damm 2023
    </span>
    <ul>
      <li>
        <a href="https://www.damm.com/en/disclaimer-general-terms-access-and-use">Legal Notice</a>
      </li>
      <li>
        <a href="https://www.damm.com/en/privacy-policy">Privacy Policy</a>
      </li>
      <li>
        <a href="https://www.damm.com/en/cookies-policy">Cookies Policy</a>
      </li>
      <li>
        <a href="https://www.damm.com/en/social-network-policy">Social media Policy</a>
      </li>
    </ul>
  </span>
</footer>